<div class="courses-item">
  <div class="professor">
    <img class="professor-image" src="./dummyprof2.png" alt="professor" />
    <p class="professor-name">{{ professor().name }}</p>
  </div>
  <ul class="courses-list">
    @for(course of professor().courses; track course){
    <li class="courses-course" [routerLink]="['/chat']">
      <img
        class="course-image"
        src="course_icon_{{course.name }}.png"
        [alt]="course.name"
      />
      <p class="course-name">
        {{ course.name }}
      </p>
    </li>
    }
  </ul>
</div>
