.courses-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}




.professor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.professor-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  display: block;
}

.professor-name {
  margin: 5px 0 0 0;
  text-align: center;
}

.courses-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  height: 150px;
  padding: 0;
  margin: 0;
  list-style: none;
  column-gap: 10px;
}

.courses-course {
  display: flex;
  align-items: center;
  list-style-type: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.courses-course:hover p {
  text-decoration: underline;
}

.courses-course:hover {
  transform: scale(1.02);
}

.course-image {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  margin-right: 5px;
}

.course-name {
  margin: 0;
}
