<div class="courses-item">
  <div class="professor">
    <img class="professor-image" src="./dummyprof2.png" alt="professor" />
    <p class="professor-name">{{ professor().name }}</p>
  </div>
  <ul class="courses-list">
    @for(course of professor().courses; track course){
    <a class="courses-course"   [routerLink]="[
    '/chat',
    [
      formatSemester(selectedSemester()),
      professor()?.name ?? 'unbekannt',
      course?.name ?? 'unbekannt'
    ].join('-')
  ]">
      <img
        class="course-image"
        src="course_icon_{{ course.image }}.png"
        [alt]="course.name"
      />
      <p class="course-name">
        {{ course.name }}
      </p>
    </a>
    }
  </ul>
</div>
