<p-toast/>
<div class="card flex justify-center">
  <p-stepper [(value)]="step1Value">
    <p-step-list>
      <p-step [value]="1">{{ 'avatar.uploadImage' | transloco}}</p-step>
      <p-step [value]="2">{{ 'avatar.recordAudio' | transloco}}</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50  flex-auto flex justify-center items-center font-medium"
            >
              <div class="card flex justify-center">
                <p-fileupload mode="basic"
                              name="demo[]"
                              chooseIcon="pi pi-upload"
                              accept="image/*"
                              maxFileSize="10000000"
                              (onSelect)="onImageSelect($event)"
                              (onUpload)="onBasicUploadAuto($event)"
                              [auto]="true"
                              chooseLabel="{{ 'avatar.browse' | transloco}}"

                />
              </div>

              <!-- Image preview with download on click -->
              <div *ngIf="imageURL" style="margin-top: 1rem;">
                <a [href]="imageURL" download="image.png">
                  <img
                    [src]="imageURL"
                    alt="Uploaded Image"
                    style="max-width: 300px; border: 1px solid #ccc; padding: 5px; cursor: pointer;"
                  />
                </a>
              </div>

            </div>
          </div>
          <div class="flex !pt-6 justify-between">
            <p-button label="{{ 'avatar.next' | transloco}}" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)"/>
          </div>
        </ng-template>
      </p-step-panel>


      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50  flex-auto flex justify-center items-center font-medium"
            >
              <div class="audio ">

                <p-button class="!p-3" (click)="startRecording()" label="{{ 'avatar.startRecording' | transloco}}" severity="primary"
                          icon="pi pi-microphone" [disabled]="isRecording"/>
                <p-button class="!p-3" (click)="stopRecording()" label="{{ 'avatar.stop' | transloco}}" severity="primary"
                          icon="pi pi-pause-circle" [disabled]="!isRecording"/>


                <div *ngIf="audioUrl()" style="margin-top: 1rem;">
                  <audio [src]="audioUrl()" controls></audio>
                </div>

              </div>
            </div>
          </div>
          <div class="flex !pt-6 justify-between">
            <p-button label="{{ 'avatar.back' | transloco}}" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"/>
            <p-button label="{{ 'avatar.createAvatar' | transloco}}" icon="pi pi-user-plus" (click)="createAvatar()"></p-button>
          </div>
        </ng-template>
      </p-step-panel>

    </p-step-panels>
  </p-stepper>
</div>


