.courses-pages-item-grid {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
}


.pagination-button, .pagination-button-current{
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 10px;
}
.pagination-button-current{
  background-color: var(--secondary-color);
}
