<div class="courses-container">
  <h2>{{ "courses.title" | transloco }}</h2>
  <app-courses-search
    [searchValue]="searchValue()"
    (searchValueChange)="onSearchValueChange($event)"
  ></app-courses-search>
  @if(!coursesLoading()){
  <app-courses-semester-filter
    [selectedSemester]="selectedSemester() || ''"
    [semesterList]="semesterList()"
    (onSemesterChange)="onSemesterChange($event)"
  >
  </app-courses-semester-filter>
  <app-courses-pagination
    [selectedSemester]="selectedSemester() || ''"
    [professors]="filteredProfessors()"
  ></app-courses-pagination>
  }@else{
  <app-courses-loading-placeholder> </app-courses-loading-placeholder>
  }
</div>
