
<div class="chat-container">
  <h2 class="chat-greeting">Hello, Thomas!</h2>
  <div class="chat-main">
    <app-avatar
      class="chat-avatar"
      [videoUrl]="videoUrl() || 'dummyExample.mp4'"
    />
    <app-chat-window
      class="chat-window"
      [chatLog]="[]"
      [loading]="isStreaming()"
      [userInput]="userInput()"
      (userInputChange)="onUserInputChange($event)"
      (sendMessage)="onSendMessage()"
    />
  </div>

  @if (error()) {
    <div class="error">{{ error() }}</div>
  }
</div>

