<div class="chat-container">
  <div class="back-navigation" [routerLink]="['/courses']">
    <mat-icon class="back-icon">arrow_back</mat-icon>
    <p class="back-label">{{ "chat.return" | transloco }}</p>
  </div>
  <h2 class="chat-greeting">
    {{ "chat.hello" | transloco }}, {{ this.firstName() | titlecase }}!
  </h2>
  <div class="chat-main">
    <app-avatar
      class="chat-avatar"
      (onStopVideoClick)="onStopVideoClick()"
      [posterImage]="posterImage()"
    />
    <app-chat-window
      class="chat-window"
      [chatLog]="chatLog()"
      [loading]="isStreaming()"
      [userInput]="userInput()"
      [isRecording]="isRecording()"
      (userInputChange)="onUserInputChange($event)"
      (sendMessage)="onSendMessage()"
      (audioRecordStart)="onAudioRecordedStart()"
      (audioRecordStop)="onAudioRecordedStop()"
      (audioRecordCancel)="onCancelRecording()"
    />
  </div>

  @if (error()) {
  <div class="error">{{ error() }}</div>
  }
</div>
