<div class="chat-container">
  <div class="back-navigation" [routerLink]="['/courses']">
    <mat-icon class="back-icon">arrow_back</mat-icon>
    <p class="back-label">Return</p>
  </div>
  <h2 class="chat-greeting">Hello, {{ this.firstName() | titlecase }}!</h2>
  <div class="chat-main">
    <app-avatar class="chat-avatar" [posterImage]="posterImage()" />
    <app-chat-window
      class="chat-window"
      [chatLog]="chatLog()"
      [loading]="isStreaming()"
      [userInput]="userInput()"
      (userInputChange)="onUserInputChange($event)"
      (sendMessage)="onSendMessage()"
    />
  </div>

  @if (error()) {
  <div class="error">{{ error() }}</div>
  }
</div>
