.chat-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.chat-greeting{
  align-self: flex-start;
}

.chat-main {
  display: flex;
  justify-content: center;
}

.chat-avatar{
  margin-right: 20px;
}

@media(max-width: 800px){
  .chat-main{
    flex-direction: column;
  }
}
