.avatar {
  display: flex;
  flex-direction: column;
  position: relative;
}
.avatar-video {
  border-radius: 15px;
}
.avatar-watermark {
  position: absolute;
  top: 0;
  left: 7px;
}

.avatar-stop-button{
  margin-top: 10px;
  margin-left: 2px;
}