<div class="search-container">
  <div class="search-bar">
    <mat-icon class="search-icon">search</mat-icon>

    <input
      type="text"
      class="search-input"
      placeholder="Search..."
      [value]="searchValue()"
      (input)="onSearchValueChange($event)"
    />

    <button
      mat-icon-button
      class="clear-button"
      *ngIf="searchValue()"
      (click)="searchValueChange.emit('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <ul class="year-filter">
    @for(year of yearList(); track year){
    <li>
      <button
        [ngClass]="
          year === selectedYear()
            ? 'year-button year-button-selected'
            : 'year-button'
        "
      >
        {{ year }}
      </button>
    </li>
    }
  </ul>
</div>
