.navbar {
  padding: 0;
  background-color: var(--background-color);
  overflow: visible;
  position: relative;
  height: 64px;
  .logo {
    height: 105px;
    margin-top: 15px;
    margin-left: -10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-links {
    display: flex;
    gap: 0.5rem;
    margin-right: 2rem;
    a {
      font-size: 17px;
      font-family: "Poppins";
      font-weight: 500;
    }
  }

  .mobile-menu {
    display: none;
    margin-right: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar {
    .nav-links {
      display: none;
    }
    .mobile-menu {
      display: inline-flex;
    }
    .logo{
      height: 80px;
      margin-top: 15px;
      margin-left: -10px;
    }
  }
}

