<mat-toolbar color="primary" class="navbar">
  <img class="logo" src="Logo.png" />
  <span class="spacer"></span>
  <nav class="nav-links">
    @for(link of navItems; track link){
    <a mat-button [routerLink]="[link.path]">{{ link.label }}</a>
    }
  </nav>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    class="mobile-menu"
    aria-label="Menü öffnen"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @for(link of navItems; track link){
    <button mat-menu-item [routerLink]="[link.path]">{{ link.label }}</button>
    }
  </mat-menu>
</mat-toolbar>
