/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #5d739f;
  --light-primary: #566fa11b;
  --secondary-color: #f03a3999;
  --text-color: #1b1b32;
  --background-color: #f3f5f3;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  font-family: 'Poppins', "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}
