<div class="flex gap-2 mt-4 justify-start !mt-2">
  <p-button label='{{ "settings.addCourses" | transloco }}' icon="pi pi-plus" (click)="openCourseModal()"></p-button>
</div>

<div class="card !pt-5">
  <p-table
    [columns]="cols"
    [value]="filteredCourses"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
        <th colspan="2">{{ 'settings.actions' | transloco }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
        <td class="flex gap-5">
          <p-button label="{{ 'actions.invite' | transloco }}" (click)="openInviteModal(rowData)"></p-button>
          <p-button label="{{ 'actions.uploadReference' | transloco }}" (click)="openReferenceModal(rowData)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog header="{{'settings.addCourses' | transloco}}" [(visible)]="courseModalVisible" [modal]="true"
          [style]="{ width: '50vw',height:'100vh' }" [dismissableMask]="true">
  <div class="card flex justify-center">
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label for="name" class="mb-1 font-medium">Name</label>
          <input id="name" type="text" pInputText [(ngModel)]="newCourse.name"/>
        </div>

        <div class="flex flex-col">
          <label for="year" class="mb-1 font-medium">Jahr</label>
          <input id="year" type="number" pInputText [(ngModel)]="newCourse.year"/>
        </div>

        <div class="flex flex-col">
          <label for="semester" class="mb-1 font-medium">Semester</label>
          <input id="semester" type="text" pInputText [(ngModel)]="newCourse.semester"/>
        </div>

        <div class="flex flex-col">
          <label for="icon" class="mb-1 font-medium">Icon</label>
          <p-select
            [options]="icons"
            [(ngModel)]="selectedIcons"
            optionLabel="name"
            placeholder="Icon auswählen"
            class="w-full"
          >
            <!-- Selected item -->
            <ng-template #selectedItem let-selectedOption>
              <div class="flex items-center gap-2" *ngIf="selectedOption">
                <img [src]="selectedOption.path" style="width: 18px" alt="icons"/>
                <div>{{ selectedOption.name }}</div>
              </div>
            </ng-template>

            <!-- Dropdown item -->
            <ng-template let-icon pTemplate="item">
              <div class="flex items-center gap-2">
                <img [src]="icon.path" alt="{{icon.name}}" style="width: 20px; height: 20px;"/>
                <div>{{ icon.name }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
      </div>
      <p-button
        label="{{'settings.addCourses' | transloco}}"
        (onClick)="roomService.createGroup(newCourse.name, newCourse.year, newCourse.semester, selectedIcons!.name)"></p-button>

    </div>
  </div>
</p-dialog>


<!--Avatar-->


<!-- Reference Upload MODAL -->
<p-dialog header="{{ 'modal.pdfUploadHeader' | transloco }}" [(visible)]="referenceModalVisible">

  <p-toast/>
  <p-fileUpload
    name="files"
    mode="advanced"
    accept=".pdf"
    [multiple]="true"
    [customUpload]="true"
    [auto]="false"
    chooseLabel="{{'actions.choose' | transloco}}"
    uploadLabel="{{'actions.upload' | transloco}}"
    cancelLabel="{{'actions.cancel' | transloco}}"
    (uploadHandler)="uploadMultipleFiles($event, selectedRoomPath)">
  </p-fileUpload>
</p-dialog>

<!-- Invite  MODAL -->
<p-dialog header="{{ 'modal.inviteHeader' | transloco }}" [modal]="true" [(visible)]="inviteModalVisible" [style]="{ width: '50rem',height:'50rem' }"
          [closable]="true" [dismissableMask]="true">


  <div class="card">
    <p-table [value]="users" [(selection)]="selectedUser" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
      <ng-template #header>
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox/>
          </th>
          <th>{{ 'settings.fname' |transloco }}</th>
          <th>{{ 'settings.lname' |transloco }}</th>
          <th>{{ 'settings.mail' |transloco }}</th>
        </tr>
      </ng-template>
      <ng-template #body let-user>
        <tr>
          <td>
            <p-tableCheckbox [value]="user"/>
          </td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>


  <div class="flex justify-end gap-2 mt-4 !pt-3">
    <p-button label="{{ 'actions.cancel' | transloco }}" (click)="inviteModalVisible = false"></p-button>
    <p-button label="{{ 'actions.addUser' | transloco }}" (click)="addUsersToRoom()" severity="danger"></p-button>
  </div>
</p-dialog>
